.down-arrow {
    height: 10px;
    display: inline-block;
    box-sizing: content-box;
    width: 10px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
