#word-counter-section{
    min-height: 100vh;
    background-color: $blue;
    color: #fff;
    padding-top: 100px;
    
    h2{
        color: #fff;
    }
    
    h2::after,
    h2::before {
        content: "";
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: #fff;
        margin: 0 15px 10px;
        @media (max-width: 576px){
            display: none;
        }
    }
    
    #text-area{
        height: 250px;
        color: $blue;
        &:focus{
            outline: none;
        }
    }
}